@charset "UTF-8";
/* CSS Document */

.carousel {
  position: relative;
	background: #eee;
	.carousel-indicators {
		position: absolute;
		width: 100%;
		text-align: center; 
		left: 0; 
		bottom: 5px;
		a {
			text-decoration: none; 
			margin-right: 10px; 
		}
		a.active { font-weight: bold; }
	}
	.arrow {
		display: block;
		height: 45px;
		width: 23px;
		text-indent: -999px;
		overflow: hidden;
		position: absolute;
		top: 50%;
		margin-top: -22px;
		cursor: pointer;
	}
	.forward {
		background: url(../images/icn-carousel-arrow-right.png) no-repeat;
		right: 20px;
	}	
	.back {
		background: url(../images/icn-carousel-arrow-left.png) no-repeat;
		left: 20px;
	}
	.frame {
		overflow: auto;
		position: absolute;
		top: 0;
		ul {
			width: 9999px;
			list-style-image: none;
			list-style-position: outside;
			list-style-type: none;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			li {
				display: block;
				float: left;
				padding: 0;
				margin: 0;
				img { 
					display: block; 
					width: 100%;
				}
			}			
		}		
	}	
}

.multi-carousel {
  position: relative;
	background: #eee;
	padding: 30px 20px;
	.carousel-indicators {
		position: absolute; 
		left: 75px; 
		bottom: 5px;
		a {
			text-decoration: none; 
			margin-right: 10px; 
		}
		a.active { font-weight: bold; }
	}
	.arrow {
		position: absolute;
		bottom: 5px;
		cursor: pointer;
	}
	.forward {
		right: 20px;
	}	
	.back {
		left: 20px;
	}
	.msg {
		position: absolute;
		top: 10px;
		left: 20px;
		margin: 0;
		font-size: 12px;
	}	
	.frame {
		overflow: auto;
		position: absolute;
		top: 30px;
		ul {
			width: 9999px;
			list-style-image: none;
			list-style-position: outside;
			list-style-type: none;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			li {
				display: block;
				float: left;
				padding: 0;
				margin: 0 20px 0 0;
				width: 100px;
				height: 100px;
				background: #DDD;
				img { 
					display: block; 
				}
			}			
		}		
	}	
}

.widget-carousel {
	padding: 0 38px;
	position: relative;

	.carousel-links {
		display: none;
	}

	.arrow {
		background-position: center center;
		background-repeat: no-repeat;
		display: block;
		height: 36px;
		position: absolute;
		top: 0;
		width: 37px;

		span {
			display: none;
		}
	}
	.arrow:hover {
		cursor: pointer;
	}
	.arrow.back {
		background-image: image-url('btn-previous.png');
		left: 0;
	}
	.arrow.forward {
		background-image: image-url('btn-next.png');
		right: 0;
	}

	.frame {
		overflow: auto;
		position: absolute;
		top: 0;

		ul {
			list-style-image: none;
			list-style-position: outside;
			list-style-type: none;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			width: 9999px;

			li {
				display: block;
				float: left;
				height: 36px;
				margin: 0 1px;
				padding: 0;
				position: relative;
				width: 46px;

				img {
					height: 100%;
					width: 100%;
				}
			}
			li:hover {
				cursor: pointer;
			}
			li.active {
				background-color: $wf-blue-lt;
				height: 32px;
				margin: 0;
				padding: 2px;
				width: 44px;
			}
		}
	}
}

a.preview.gallery { width: 100%; display: block; position: relative; margin-bottom: 10px; }
a.preview.gallery img { width: 100%; display: block; }

