@charset "UTF-8";
/* CSS Document */

.carousel {
  position: relative;
	background: #eee;
	.carousel-indicators {
		position: absolute;
		width: 100%;
		text-align: center; 
		left: 0; 
		bottom: 5px;
		a {
			text-decoration: none; 
			margin-right: 10px; 
		}
		a.active { font-weight: bold; }
	}
	.arrow {
		display: block;
		height: 45px;
		width: 23px;
		text-indent: -999px;
		overflow: hidden;
		position: absolute;
		top: 50%;
		margin-top: -22px;
		cursor: pointer;
	}
	.forward {
		background: url(../images/icn-carousel-arrow-right.png) no-repeat;
		right: 20px;
	}	
	.back {
		background: url(../images/icn-carousel-arrow-left.png) no-repeat;
		left: 20px;
	}
	.frame {
		overflow: auto;
		position: absolute;
		top: 0;
		ul {
			width: 9999px;
			list-style-image: none;
			list-style-position: outside;
			list-style-type: none;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			li {
				display: block;
				float: left;
				padding: 0;
				margin: 0;
				img { 
					display: block; 
					width: 100%;
				}
			}			
		}		
	}	
}

.multi-carousel {
  position: relative;
	background: #eee;
	padding: 30px 20px;
	.carousel-indicators {
		position: absolute; 
		left: 75px; 
		bottom: 5px;
		a {
			text-decoration: none; 
			margin-right: 10px; 
		}
		a.active { font-weight: bold; }
	}
	.arrow {
		position: absolute;
		bottom: 5px;
		cursor: pointer;
	}
	.forward {
		right: 20px;
	}	
	.back {
		left: 20px;
	}
	.msg {
		position: absolute;
		top: 10px;
		left: 20px;
		margin: 0;
		font-size: 12px;
	}	
	.frame {
		overflow: auto;
		position: absolute;
		top: 30px;
		ul {
			width: 9999px;
			list-style-image: none;
			list-style-position: outside;
			list-style-type: none;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			li {
				display: block;
				float: left;
				padding: 0;
				margin: 0 20px 0 0;
				width: 100px;
				height: 100px;
				background: #DDD;
				img { 
					display: block; 
				}
			}			
		}		
	}	
}
