
/*
	BUTTON
*/

.button {
	border: none;
	padding: 0 10px;
	background: $lgt-blue;
	color: $blue;
	font: normal 12px/32px arial, sans-serif;
	text-decoration: none;
	display: inline-block;
}

/*
	SIMPLE TABS
*/

ul.tabs {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	li {
		margin: 0 10px 0 0;
		float: left;
		a {
			display: block;
			padding: 5px 15px;
			background-color: $lgt-blue;
			cursor: pointer;
			text-align: center;
			font-size: 12px;
			font-style: normal;
			outline: none;
			text-decoration: none;
		}
		&.selected a {
			font-weight: bold;
			color: $gray;
			background-color: $lgt-gray;
		}
	}
}
