@charset "UTF-8";
/* CSS Document */

/*
	DATEPICKER
*/

.ui-datepicker-trigger { vertical-align: middle; margin-left: 5px; }

/*
	FORM CONTROLS
*/

textarea, select, input.text { }
input.text {
	padding: 5px 3px;
}
input.full {
	width: 95%;
}
input.wide {
	width: 80%;
}
textarea.full {
	width: 98%;
}

/*
	STATUS UTILITIES
*/

strong.error { 
	font-size: 12px;
	line-height: 14.4px;
	vertical-align: baseline;
	font-weight: normal;
	color: #F00; 
	display: inline-block;
	width: 132px;
	margin-left: 10px;
}

/*
	GENERAL FORM LAYOUT
*/

fieldset {
	
	&.default {
		border: none;
		padding: 0;
		margin: 0;
	}
	
	&.box {
		margin: 0;
		padding: 20px;
	}
	
	legend {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 20px;
		padding: 0;
	}
	
}

/* WRAPPERS */

.submit {
	a { vertical-align: middle; }
}

.form-group,
.form-block {
	@include pie-clearfix;
	position: relative;
	margin: 0 0 20px 0;
	
	/* GENERAL LABEL STYLING */
	label {
		font-size: 15px;
		line-height: 24px;
		small { font-size: 12px; font-weight: normal; }
	}	
}
.form-group > label {
	float: left;
	width: 25%;
	margin-right: 20px;
	display: block;
}
.form-block > label {
	display: block;
}	

/* INLINE FIELDS */

span.field {
	padding-top: 24px;
	margin-right: 10px;
	width: auto;
	float: left;
	line-height: 32px;
	vertical-align: middle;
	> label {
		float: none;
		width: auto;
		margin-top: -24px;
		display: block;
		font-size: 11px;
		line-height: 16px;
		font-weight: bold;
		color: #666;
	}
	&.last {
		margin-right: 0;
	}
}
