body {
	min-width: 320px;
	color: $body-color;
}

nav.inline {
	ul {
		list-style: none;
		overflow: hidden;
		padding: 0;
		margin: 0;
		
		li {
			float: left;
			& + li {
				margin-left: 20px;
			}
			a {
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
			}
		}
		
	}
}

#page {
}

#utility-nav {
	font-size: 11px;
	line-height: 14px;
	position: absolute;
	top: 0;
	right: 0;
	ul {
		> li {
			text-align: right;
			margin-left: 10px;
		}
	}
}

#header {
	@include outer;
	margin-bottom: 20px;
	position: relative;
	z-index: 100;
}

#logo {
	font-size: 30px;
	line-height: 50px;
	float: left;
}

#primary-nav {
	float: right;
	margin-bottom: 13px;
	width: 85%;
	> ul {
		> li {
			margin: 0;
			background: $wf-blue-lt;
			border-right: 1px solid #fff;
			> a {
				display: block;
				padding: 0 10px;
				font-family: $font-primary;
				font-size: 14px;
				font-weight: bold;
				line-height: 50px;
			}
		}
		> li:hover {
			> a {
				background-color: $wf-blue;
				color: #fff;
				text-decoration: none;
			}
		}
	}
}

#body-area {
	@include outer;
}

#feature { margin-bottom: 20px; @include outer; }

.two-col-a { 
	overflow: hidden;
	.primary {
		width: 74.4680851%;
		float: left;
		> .container {
			border: 1px solid #ccc;
			margin-bottom: 20px;
			> header {
				padding: 40px 40px 0 40px;
			}
			> .body {
				> .bar {
					padding: 0 40px 15px 40px;
				}
				> .content {
					border-top: 1px solid #ccc;
					padding: 15px 40px;
				}
			}
		}
		.subcontainer {
			padding: 0 10px;
			margin: 20px 0;
		}
	}
	.secondary {
		width: 23.4042553%;
		float: right;
		.container {
			border: 1px solid #ccc;
			margin-bottom: 20px;
			font-size: 12px;
			line-height: 15px;
			header {
				padding: 5px 0 5px 10px;
				h6 { margin-bottom: 0; }
			}
			.body {
				> .tabs { 
					margin-bottom: 5px; 
					padding: 5px 0 5px 10px;
				}
				> .content {
					border-top: 1px solid #ccc;
					padding: 5px 10px;
				}
			}
			footer {
				padding: 5px 10px;
				border-top: 1px solid #ccc;
			}
		}
	}
}

#footer {
	margin-top: 20px;
	.inner {
		@include outer;
	}
}
