body {
	min-width: 320px;
	color: $default-font-color;
}

nav {
	ul {
		list-style: none;
		overflow: hidden;
		padding: 0;
		margin: 0;
		
		li {
			float: left;
			& + li {
				margin-left: 20px;
			}
			a {
				text-decoration: none;
				color: $default-font-color;
			}
			a:hover {
				text-decoration: underline;
			}
		}
		
	}
}

#utility-bar {
	background-color: #eee;
	line-height: 40px;
	overflow: hidden; 
	margin-bottom: 20px;
	
	#utility-nav {
		@include container;
		ul { float: right; }
	}
}

#header {
	@include container;
	overflow: none;
	margin-bottom: 20px;
	#logo { font-size: 30px; }
	#toggles { float: right; display: none; }
}

#primary-nav { 
	@include container;
	margin-bottom: 20px; 
} 

#body-area { }

#feature { @include container; }

#content-area.two-col-a { 
	@include container;
	.primary {
		@include span-columns(9,12);
	}
	.secondary {
		@include span-columns(3 omega,12);
	}
}

#footer .inner { @include container; }
