@media (max-width: 767px) {
	
	.small-screen { display: block; }
	.large-screen { display: none; }

	.toggle-small-screen {
		background: url(../images/icn-collapse-inactive.png) 5px 10px $wf-blue-lt no-repeat;;
		padding: 0 30px !important;
		color: $wf-blue;
		cursor: pointer;
		font-family: $font-primary;
		font-size: 16px;
		text-transform: uppercase;
		line-height: 40px;
		font-weight: bold;
		margin: 0;
		* {
			font-family: $font-primary;
			font-size: 16px;
			line-height: 40px;
			font-weight: bold;
			margin: 0;
		}
	}
		
	#page {
		padding: 0;
	}
	
	#body-area {
		padding: 0 8px;
	}
	
	#content-area {
		padding: 0;
	}
		
	#feature {
		border: none;
	}
	
	.container {
		.body {
			padding: 20px 10px;
		}
	}
	
	.two-col-a { 
		.primary {
			width: auto;
			float: none;
			header { padding: 0; }
			.container {
				border: none;
				margin-bottom: 4px;
			}
			.subcontainer {
				padding: 0;
				margin: 0 0 4px 0;
			}
		}
		.secondary {
			width: auto;
			float: none;
			.container {
				border: none;
				margin-bottom: 4px;
			}
		}
	}
	
}

@media (max-width: 320px) {
}

