@media (max-width: 767px) {
	
	.small-screen {
		display: block;
	}
	
	#page {
		padding: 0;
	}
	
	.toolbar {
		display: none;
	}
	
	#header {
		border-bottom: 1px solid #ccc;
	}
	
	#utility-nav {
		top: 0;
		right: 0;
		.media-block {
			padding-top: 10px;
		}
	}
	

	#primary-nav {
		float: none;
		width: 100%;
		clear: both;
		display: none;
		position: absolute;
		top: 50px;
		z-index: 100;
		background-color: #eee;
		> ul {
			> li {
				margin: 0 0 4px 0;
				border-right: none;
				float: none;
				> a {
					text-transform: uppercase;
					font-size: 16px;
					line-height: 40px;
					width: auto;
				}
				& :hover {
					.dropdown {
						display: none;
					}
				}
			}
		}
	}

	#body-area {
		padding: 0 8px;
	}
	
	#content-area {
		padding: 0;
	}
		
	#feature {
		border: none;
	}
	
	.toggle-small-screen {
		@include sprites-sprite(icn-collapse-inactive);
		background-color: $wf-blue-lt;
		padding: 0 10px !important;
		color: $wf-blue;
		cursor: pointer;
		font-family: $font-primary;
		font-size: 16px;
		text-transform: uppercase;
		line-height: 40px;
		font-weight: bold;
		margin: 0;
		* {
			font-family: $font-primary;
			font-size: 16px;
			line-height: 40px;
			font-weight: bold;
			margin: 0;
		}
	}
	
	.container {
		.body {
			padding: 20px 10px;
		}
	}
	
	.two-col-a { 
		.primary {
			width: auto;
			float: none;
			header { padding: 0; }
			.container {
				border: none;
				margin-bottom: 4px;
			}
			.subcontainer {
				padding: 0;
				margin: 0 0 4px 0;
			}
		}
		.secondary {
			width: auto;
			float: none;
			.container {
				border: none;
				margin-bottom: 4px;
			}
		}
	}
	
}

@media (max-width: 320px) {
}

