/*
 * Created by: Level Five Solutions
 * Website: http://www.levelfivesolutions.com/
 *
 */

.button {
	border: none;
	padding: 0 10px;
	background: $wf-blue-lt;
	color: $wf-blue;
	font: normal 12px/32px arial, sans-serif;
	text-decoration: none;
	display: inline-block;
}
