/*
 * Created by: Level Five Solutions
 * Website: http://www.levelfivesolutions.com/
 *
 */

ul.unstyled { list-style: none; padding: 0; margin: 0 0 20px 0; }

ul.inline { width: 100%; list-style: none; padding: 0; margin: 0; }
ul.inline li { float: left; }
ul.inline li+li { margin-left: 20px; }


ul.ruled {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	li  {
		padding: 7px 0;
	}
	li + li {
		border-top: 1px dotted #000;
	}
}
