/*
 * Created by: Level Five Solutions
 * Website: http://www.levelfivesolutions.com/
 *
 */

ul.tabs, ul.steps {
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	li {
		margin: 0 10px 0 0;
		float: left;
		a {
			display: block;
			padding: 5px 15px;
			background-color: $wf-blue-lt;
			cursor: pointer;
			text-align: center;
			font-size: 12px;
			font-style: normal;
			outline: none;
			text-decoration: none;
		}
		&.selected a {
			font-weight: bold;
			color: $wf-gray;
			background-color: $wf-gray-lt;
		}
	}
}
