/*
 * Created by: Level Five Solutions
 * Website: http://www.levelfivesolutions.com/
 *
 */

@mixin outer {
	max-width: 1230px;
	margin-left: auto;
	margin-right: auto;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	min-width: 320px;
	color: $body-color;
}

nav.inline {
	> ul {
		@include pie-clearfix;
		list-style: none;
		padding: 0;
		margin: 0;
		
		> li {
			float: left;
			& + li {
				margin-left: 20px;
			}
			a {
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
			}
		}
		
	}
}

#page {
}

#body-area {
	@include outer;
}

#feature { margin-bottom: 20px; @include outer; }

.two-col-a { 
	overflow: hidden;
	.primary {
		width: 74.4680851%;
		float: left;
		> .container {
			margin-bottom: 20px;
			> .body {
				> .bar {
					padding: 0 40px 15px 40px;
				}
			}
		}
		.subcontainer {
			padding: 0 10px;
			margin: 20px 0;
		}
	}
	.secondary {
		width: 23.4042553%;
		float: right;
		.container {
			margin-bottom: 20px;
			font-size: 12px;
			line-height: 15px;
			.body {
				> .tabs { 
					margin-bottom: 5px; 
					padding: 5px 0 5px 10px;
				}
			}
			footer {
				padding: 5px 10px;
				border-top: 1px solid #ccc;
			}
		}
	}
}

@media (max-width: 767px) {
	
	.toggle-small-screen {
		background: url(../images/icn-collapse-inactive.png) 5px 10px $wf-blue-lt no-repeat;;
		padding: 0 30px !important;
		color: $wf-blue;
		cursor: pointer;
		font-family: $font-primary;
		font-size: 16px;
		text-transform: uppercase;
		line-height: 40px;
		font-weight: bold;
		margin: 0;
		* {
			font-family: $font-primary;
			font-size: 16px;
			line-height: 40px;
			font-weight: bold;
			margin: 0;
		}
	}
		
	#page {
		padding: 0;
	}
	
	#body-area {
		padding: 0 8px;
	}
	
	#content-area {
		padding: 0;
	}
		
	#feature {
		border: none;
	}
	
	.container {
		.body {
			padding: 20px 10px;
		}
	}
	
	.two-col-a { 
		.primary {
			width: auto;
			float: none;
			header { padding: 0; }
			.container {
				border: none;
				margin-bottom: 4px;
			}
			.subcontainer {
				padding: 0;
				margin: 0 0 4px 0;
			}
		}
		.secondary {
			width: auto;
			float: none;
			.container {
				border: none;
				margin-bottom: 4px;
			}
		}
	}
	
}

@media (max-width: 320px) {
}